<div id="<%= dom_id turma %>">
    <p>Nome: <%= turma.nome %></p>
    <p>Horas: <%= turma.horas %></p>
    <p>Status: <%= turma.status %></p>
    <p>maximo_faltas: <%= turma.maximo_faltas %></p>
</div>
